body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App{
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.search{
  width: 100%;
  padding: 15px;
}

.searchForm{
  max-width: 750px;
  width: 100%;
}

.navbar{
  width: 100%;
  padding: 15px 10px;
  border: 3px solid black;
  margin: 30px 0;
}

#searchInput{
  margin-bottom: 5px;
}

.searchBtn{
  float: right;
}
